@model IEnumerable<MyLibrary.Models.Book>
@{
    ViewData["Title"] = "Книги";
}

<div class="text-center">
    <h2>Добро пожаловать в онлайн библиотеку!</h2>
    <img class="w-75" src="/img/1.jpg" alt="img1"/>
</div>