@model MyLibrary.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h3>Подробно</h3>

<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ФИО:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <div class="display-label"><b>Книги:</b></div>
    @foreach (var a in Model.Books)
    {
        <li>@a.Title</li>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
